{% extends "base_page.html" %}
{% load static %}

{% block content %}
<h2 class="mb-4 text-primary">{{ page_title }}</h2>
<form method="post"
      hx-post="{{ form_action_url }}"
      hx-target="#search-content"
      hx-swap="innerHTML">

    {% csrf_token %}

    <div class="row mb-3">

        <div class="col-auto">
            <label for="inputSearch" class="visually-hidden">Пошук ліків: </label>
            <input type="text"
                   name="search_query"
                   class="form-control border-info"
                   id="inputSearch"
                   placeholder="Введіть назву ліків..."
                   value="{{ word_search|default:'' }}">
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Знайти</button>
        </div>
    </div>

    {% for key, pharm in pharmacy.items %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="{{ key }}" checked>
        <label class="form-check-label text-info" for="{{ key }}">
            {{ pharm }}
        </label>
    </div>
    {% endfor %}

</form>
{% endblock content %}