{% extends "base_page.html" %}
{% load static %}

{% block content %}
<div class="card-header bg-info text-white">
    <h3 class="card-title mb-0"><i class='{{ section.icon }}'></i>{{ page_title }}</h3>


</div>
<button hx-get="{% url 'pharmacies:update_categories_apteka911' %}"
        hx-target="#category-message"
        hx-swap="innerHTML">
    Оновити категорії
</button>

<div class="bd-callout bd-callout-info border-left-color-info" id="category-message">
    {% if date_update_category %}
    {{ date_update_category }}
    {% else %}
    <p>Ще немає даних...</p>
    {% endif %}
    {{ update_categories }}
</div>
{% endblock %}