{% load static %}

<h2 class="mb-4 text-info text-center">{{ page_title }}</h2>

<div class="container mt-4">
    <div class="card">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active"
                   hx-get="{% url 'pharmacies:apteka911' %}"
                   hx-target="#tab-content-category"
                   hx-swap="innerHTML">
                    Категорії
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                   hx-get="{% url 'pharmacies:apteka911' %}"
                   hx-target="#tab-content-drugs"
                   hx-swap="innerHTML">
                    Ліки
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <div id="tab-content-category">
            {% include 'block_categories.html' %}
        </div>
        {% comment %}
        <div id="tab-content-drugs">
            {% include 'block_categories.html' %}
        </div>
        {% endcomment %}
    </div>
</div>
{% comment %}

<script>
    document.body.addEventListener('click', function(e) {
        if (e.target.classList.contains('nav-link')) {
            document.querySelectorAll('.nav-link').forEach(el => el.classList.remove('active'))
            e.target.classList.add('active')
        }
    })
</script>

{% endcomment %}
