{% load static %}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header">
            <h2 class="text-info text-center">{{ page_title }}</h2>
        </div>
        {% comment %}
        <div class="card-body">
            <div class="bd-callout-info border-left-color-info" id="category-message">
                <p class="card-title">Дата останнього оновлення категорій:</p>
                <p class="card-text">
                    {% if date_update_category %}
                    {{ date_update_category }}
                    {% else %}
                    Ще немає даних...
                    {% endif %}
                    {{ update_categories }}</p>
            </div>


            <a class="btn btn-outline-info"
               hx-get="{% url 'pharmacies:update_cat_apteka911' %}"
               hx-target="#category-message"
               hx-swap="innerHTML">
                Оновити категорії
            </a>
        </div>
        {% endcomment %}
        <div class="row p-3">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ліки</h5>
                        <p class="card-text">Дата останнього оновлення:</p>
                        <p class="mb-2 text-body-secondary">
                            {{ date_update_drugs }}
                        </p>
                        <a href="{% url 'pharmacies:update_cat_apteka911' %}"
                           class="btn btn-outline-info"
                           hx-get="{% url 'pharmacies:update_drugs_apteka911' %}"
                           hx-target="#main-content"
                           hx-swap="innerHTML">
                            Оновити
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Категорії</h5>
                        <p class="card-text">Дата останнього оновлення:</p>
                        <p class="mb-2 text-body-secondary">
                            {{ date_update_category }}

                        </p>
                        <a href="{% url 'pharmacies:update_drugs_apteka911' %}"
                           class="btn btn-outline-info"
                           hx-get="{% url 'pharmacies:update_cat_apteka911' %}"
                           hx-target="#main-content"
                           hx-swap="innerHTML">
                            Оновити
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active"
                       hx-get="{% url 'pharmacies:apteka911' %}"
                       hx-target="#tab-content"
                       hx-swap="innerHTML">
                        Ліки
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       hx-get="{% url 'pharmacies:apteka911' %}"
                       hx-target="#tab-content"
                       hx-swap="innerHTML">
                        Категорії
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                       aria-expanded="false">Dropdown</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Separated link</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <div id="tab-content">
                <div class="row p-3">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                        <div class="card">
                            <div class="card-body">
                                <form method="post"
                                      hx-post="{{ form_action_url }}"
                                      hx-target="#search-content"
                                      hx-swap="innerHTML">

                                    {% csrf_token %}

                                    <div class="row mb-3">

                                        <div class="col-auto">
                                            <label for="inputSearch" class="visually-hidden">Пошук за
                                                назвою ліків: </label>
                                            <input type="text"
                                                   name="search_query"
                                                   class="form-control border-info"
                                                   id="inputSearch"
                                                   placeholder="Введіть назву..."
                                                   value="{{ word_search|default:'' }}">
                                        </div>

                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-primary mb-3">Знайти</button>
                                        </div>
                                    </div>

                                    {% for key, pharm in pharmacy.items %}
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="{{ key }}" checked>
                                        <label class="form-check-label text-info" for="{{ key }}">
                                            {{ pharm }}
                                        </label>
                                    </div>
                                    {% endfor %}

                                </form>
                            </div>
                        </div>
                    </div>
                    {% comment %}
                    <div class="col-sm-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Категорії</h5>
                                <p class="card-text">Дата останнього оновлення:</p>
                                <p class="mb-2 text-body-secondary">
                                    {{ date_update_category }}

                                </p>
                                <a href="{% url 'pharmacies:update_drugs_apteka911' %}"
                                   class="btn btn-outline-info"
                                   hx-get="{% url 'pharmacies:update_cat_apteka911' %}"
                                   hx-target="#main-content"
                                   hx-swap="innerHTML">
                                    Оновити
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endcomment %}
                </div>
                {% include 'block_table.html' %}
            </div>
        </div>
    </div>
</div>
{% comment %}

<script>
    document.body.addEventListener('click', function(e) {
        if (e.target.classList.contains('nav-link')) {
            document.querySelectorAll('.nav-link').forEach(el => el.classList.remove('active'))
            e.target.classList.add('active')
        }
    })
</script>

{% endcomment %}
